#site-logo-img {
  width: 20vw;
}
:root {
  --color-primary: #333;
  --color-text: rgb(71, 71, 71);
  --color-secondary: #ecc647;
  /* --color-secondary: #ff9f37; */
  --color-background: #f8f8f8;
  --color-white: #fff;
  --color-warning: #e9c601;
  --color-error: #f75e4b;
}
@font-face {
  font-family: "yekan";
  src: url("/css/Yekan.woff2") format("woff2");
}
@font-face {
  font-family: "vazirmatn";
  src: url("/css/Vazirmatn.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  padding: 0 20px;
}
.darkText {
  color: var(--color-background) !important;
}
body {
  font-family: "vazirmatn" !important;
  margin-top: 180px;
  direction: rtl;
  text-align: right;
  /* margin: auto; */
  background-color: #fefefe;
}

#modal {
  background-color: rgba(128, 128, 128, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal > div {
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
}
#modal span {
  background-color: var(--color-error);
  color: #fff;
  /* font-weight: 900; */
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  padding: 5px 10px;
  border-radius: 10px;
}
#modal #modal-text {
  margin-top: 40px;
  color: var(--color-error);
}
.darkBack {
  background: rgba(51, 51, 51) !important;
}
nav {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0 50px;
  height: 180px;
  width: 100vw;
  z-index: 99999;
  background-color: #333 !important;
  transition: background ease 0.4s;
}

header {
  /* background-color: #333 !important; */
  all: unset;
  box-sizing: border-box;
  z-index: 99999 !important;
  /* height: 13vw !important; */
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: fixed;

  top: 0;
  overflow: hidden;
}
#nav-head {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
#search {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  width: 280px;
  margin-top: 13px;
}
#search > input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--color-primary);
  font-family: "yekan";
  transition: all ease-in 0.1s;
  height: 40px;
  width: 235px;
}
#search > input:focus {
  height: 40px;
  border: 3px solid var(--color-secondary);
  outline: none;
}

#search button {
  background: var(--color-secondary);
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--color-primary);
  align-items: center;
  display: flex;
  justify-content: center;
}
#link-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#nav-links {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
i {
  font-size: 1.3rem;
}
#social_icon_box > h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 26px;
}
#link-box a {
  border: 3px solid var(--color-secondary);
  background-color: var(--color-background);
  padding: 11px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--color-primary);
  margin: 10px;
  text-align: center;
}
a > i {
  margin-left: 10px;
}
.link-active {
  border: 3px solid var(--color-background);
  background-color: var(--color-text);
  color: var(--color-background);
}

/* From Uiverse.io by JkHuger */

label {
  direction: ltr;
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  direction: ltr;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: var(--color-text);
  /* background-color: #374151; */
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em var(--color-secondary);
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: var(--color-text);
  /* background-color: #485367; */
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}

.posters {
  /* max-width: auto; */
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  animation: slide 0.5s linear;
  z-index: 0;
}
@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.poster-box {
  /* width: 650px; */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-buttons {
  cursor: pointer;
  width: 75px;
}

.photo-btn-box {
  position: absolute;
  background: transparent;
  border: none;
  z-index: 1000;
}
#previous {
  left: 15px;
}
#next {
  right: 15px;
}
.poster-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.inactive {
  background-color: #eeeeeeb5;
}
.poster-dot {
  width: 15px;
  margin-right: 10px;
}
.dot-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 15px;
  direction: ltr;
}
.scrolled {
  background-color: rgba(133, 133, 133, 0.96) !important;
}
.footer {
  padding-bottom: 60px !important;
}
/* .conta{
  direction: ltr;
} */

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-secondary);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  width: 100px;
  height: 100px;
  margin: auto;
  top: 40%;
  left: 47%;
  position: absolute;
  display: flex;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

#loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  z-index: 9999999;
  overflow: hidden;
}

.darkButt {
  background: #ecc647;
  color: #333;
}
.darkButt:hover {
  background: var(--color-background) !important;
  color: #333;
}
/* From Uiverse.io by vinodjangid07 */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #ecc647;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
#column-nav {
  height: 88.8%;
  width: 100vw;
  background-color: #333333b3;
  display: none;
  position: fixed;

  z-index: 99999;
  bottom: 0;
  right: 0;
}
#sidebar {
  border-left: #ecc647 5px solid;
  border-radius: 2px;
  filter: none;
  height: 100%;
  width: 50vw;
  display: none;
  position: fixed;
  background-color: #fff;
  /* position: absolute; */
  right: 0;
  flex-direction: column;
  align-items: start;
  z-index: 99999999999;
}

#sidebar a {
  margin: 10px;
  font-family: "vazirmatn";
  font-size: 1rem;
  color: #877128;
  /* color: #ecc647; */
}
.nav-contact {
  margin: 0;
  direction: ltr;
}
.sidecolor {
  color: var(--color-secondary) !important;
}
.active-side {
  /* color: var(--color-secondary); */
  color: var(--color-error) !important;
}
.flexDisp {
  display: flex !important;
}
@media (max-width: 700px) {
  nav {
    display: none;
  }
  header {
    background-color: var(--color-primary);
    height: 70px;
    width: 100%;
  }
  body {
    margin-top: 69px;
  }
  .toggle-slot {
    margin: 12px;
  }
  .toggle {
    margin: 12px;
    display: flex;
  }
  #site-logo-img {
    width: 200px;
  }
}

#camera-light-text {
  color: #c9a93d !important;
}
